@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Karla&family=Roboto+Condensed:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
 }
 
 nav {
     height: 65px;
     background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
     display: flex;
     align-items: center;
     padding: 0 3rem 0 0.1rem;
     color: #FFFFFF;
 }
 
 .troll {
     transform: scale(0.3);
 }
 
 nav p:nth-child(2) {
     margin-right: auto;
     position: relative;
     right: 2.3rem;
     font-family: 'Karla' sans-serif;
     font-weight: 700;
     font-size: 20.7482px;
     line-height: 24px;
     letter-spacing: -0.1em;
 }
 
 nav p:nth-child(3) {
     font-family: 'Inter', sans-serif;
     font-weight: 500;
     font-size: 12px;
     line-height: 15px;
 }
 
 .form-box {
     width: 100vw;
     border: 1px solid red;
     display: grid;
     place-items: center;
     padding: 2rem 0;
 }
 
 .form {
     width: 75%;
     height: 100px;
     display: flex;
     flex-wrap: wrap;
 }
 
 .form span:nth-child(1) {
     margin-right: auto;
 }
 
 .form input {
     border-radius: 5px;    
 }
 
 .form input::placeholder {
     font-family: 'Karla', sans-serif;
     font-size: 12px;
     font-weight: 400;
     line-height: 14.03px;
     color: #0D0D0D;
 }
 
 .form span input {
     min-width: 100px;
     width: 200px;
     height: 30px;
     border: 1px solid #D5D4D8;
     padding-left: 0.5rem;
 }
 
 .form span input:focus{
     outline: none;
 }
 
 button {
     width: 100%;
     height: 40px;
     border: none;
     border-radius: 5px;
     background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%); 
     color: #FFFFFF;
     font-weight: 700;
     font-size: 16px;
     font-family: 'Karla', sans-serif;
     line-height: 18.7px;   
 }
 
button:focus {
    outline: none;
}

.meme {
    position: relative;
    width: 75%;
}

.meme-img {
    max-width: 100%;
    border-radius: 3px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}
